@{
    ViewData["Title"] = "Home";
}

<div class="container mt-4">
    <div class="jumbotron text-center bg-light p-5">
        <h1 class="display-4">Bienvenido a Gestion de Eventos</h1>
        <p class="lead">Gestiona tus eventos, personas, entradas, asistencia y más de manera eficiente.</p>
        <hr class="my-4">
        <p>Utiliza el menú de navegación para explorar las funcionalidades.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Saber más</a>
    </div>
</div>
